*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}

.wrapper{
    background-image: url(gradient-bg.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items:center;
}

.game-info{
    color: white;
    border: solid 2px;
    position: absolute;
    top: 3rem;
    background-color: rgb(255,255,255,0.15);
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
}

.tic-tac-toe{
    width: 90%;
    max-width: 20rem;
    background-color: rgb(255,255,255,0.15);
    border-radius: 1rem;
    border: solid rgb(255,255,255,0.25);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    aspect-ratio: 1/1; 
    position: absolute;
    top: 13rem;
}

.box{
    position: relative;
    width: 100%;
    color: #fff;
    aspect-ratio: 1/1;
    display: flex;
    font-size: 3rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.box1,.box2,.box4,.box5,.box7,.box8{
    border-right: 3px solid;
}


.box1,.box2,.box3,.box4,.box5,.box6{
    border-bottom: 3px solid;
}


.btn{
    color: white;
    position: absolute;
    bottom: 8rem;
    left: 50%;
    transform: translateX(-50%);
    border: solid rgb(255,255,255,0.15);
    border-radius: 1rem;
    background-color: rgb(255,255,255,0.25);
    padding: 0.5rem 2rem;
    cursor: pointer;
    display: none;
}

.btn.active{
    display: flex;
}

.win{
    background-color: rgb(0,255,0,0.3);
}

#links{
    position: absolute;
    top: 45rem;   
}
.con{
    padding: 0 6rem;
    color: #fff;
    cursor: pointer;
}

.copyright{
    color: #fff;
    position: absolute;
    left: 12rem;
    padding-top: 1rem;
}

