@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');
body {
    font-family: 'Glory' , sans-serif;
    margin: 0%;
    background: white;
    height: auto;
}

h1 {
    font-weight: 600;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-weight: 400;
    font-size: 2rem;
    text-transform: capitalize;
    margin: 0.5rem;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    align-items: center;
}




#landing {
    background: url(images/9.jpeg); background-size: cover;
    

    
}


#landing-text {
    display: flex;
    flex: 0 1 40vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
    
}

#landing-text h2 {
    color: white;
}



.btn {
    padding: 0.5rem 2rem;
    border: 1px white solid;
    display: inline-block;
    margin: 0.5rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    transition: backgroung500ms ease;
}

.btn:hover {
    background-color: black;

}

#header {
    padding: 1.5rem;
    text-align: center;
    background: black;
    color: white;
}

#header h2 {
    border-left: dotted 1px white;
    border-right: dotted 1px white;
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
}

.caption  {
    padding: 0.8rem;
    text-align: center;

}



h3{
    font-size: 1.5rem;
    margin-bottom: 0;
}
header{
    color: white;
}
a{
    color: white;
    font-weight: 200;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    
}
p{
    font-size: large;
}
    